@model QuranX.Models.Tafsir_Commentary

@{
    ViewBag.Title = string.Format("Tafsirs etc / {0} for Quran verse {1}.{2} - {3} {4}", Model.Tafsir.Mufassir, Model.Chapter.Index, Model.Verse, Model.Chapter.EnglishName, Model.Chapter.ArabicName);
    ViewBag.IsArticle = true;
}

@section head_meta {
	<meta property="og:description" content="@ViewBag.Title" />
}

<hgroup itemprop="name">
    <h1>@(Model.Tafsir.IsTafsir ? "Tafsir " : "") @Model.Tafsir.Mufassir</h1>
    <h2 itemprop="articleSection">Verse @Model.Chapter.Index.@Model.Verse</h2>
    @if (Model.Commentary == null)
    {
        <h3>No commentary for this verse</h3>
    }
</hgroup>

@if (Model.Commentary != null)
{
    <article itemprop="articleBody">
        @foreach (string comment in Model.Commentary.Text)
        {
            <p class="highlightable">@comment</p>
        }
    </article>
}

@section topsidebar
{
	@Html.Partial("ChapterVerseQuickJump")
}
