@using QuranX.Web.Models
@using QuranX.Persistence.Models
@using QuranX.Web.Views.QuranVerses
@model ViewModel

@{
	ViewBag.Title = "The Noble Qur'an";
}

<h1>@ViewBag.Title</h1>
@{ Html.RenderPartial("SelectChapterAndVerse", Model.SelectChapterAndVerse); }
@foreach (ChapterAndVerseSelection group in Model.DisplayVerses)
{
	<h2>@group.Chapter.EnglishName - @group.Chapter.ArabicName</h2>
	foreach (Verse verse in group.Verses)
	{
		<p>@(verse.ChapterNumber).@(verse.VerseNumber)</p>
		foreach (VerseText translation in verse.VerseTexts)
		{
			<p>@translation.TranslatorName</p>
			<p>@translation.Text</p>
		}
	}
}