@using QuranX.Web.Views.HadithIndex
@using QuranX.Persistence.Models
@model HadithIndexHeaderViewModel

<h1>Hadith collection</h1>
<h2>
	<a href="/Hadith/@Model.Collection.Code/@Model.Collection.PrimaryReferenceCode">
		@Model.Collection.Name
	</a>
	@{
		string urlSoFar = $"/Hadith/{Model.Collection.Code}/{Model.Collection.PrimaryReferenceCode}/";
		foreach (string urlPart in Model.ReferencePartNamesAndValues)
		{
			urlSoFar += urlPart + "/";
			<span> / </span><a href="@urlSoFar">@urlPart</a>
		}
	}
</h2>
<ul class="hadith-reference-list">
	@foreach(HadithReferenceDefinition referenceDefinition in Model.Collection.ReferenceDefinitions)
	{
		string cssClass = string.Compare(referenceDefinition.Code, Model.SelectedReferenceCode, true) == 0 ? "selected" : "";
		<li>
			<a href="/hadith/@Model.Collection.Code/@referenceDefinition.Code" class="@cssClass">
				@referenceDefinition.Name
			</a>
		</li>
	}
</ul>

