@using QuranX.Web.Views.HadithIndex
@model HadithsViewModel

@{
    ViewBag.Title = $"{Model.HadithIndexHeaderViewModel.Collection.Name} Hadiths";
}

@Html.Partial("HadithIndexHeader", Model.HadithIndexHeaderViewModel)
@foreach (HadithViewModel hadithVM in Model.Hadiths)
{
    <div>
        @foreach (string text in hadithVM.Hadith.EnglishText)
        {
            <p>@text</p>
        }
        @foreach (string text in hadithVM.Hadith.ArabicText)
        {
            <p>@text</p>
        }
    </div>
    <div>
        @foreach (KeyValuePair<string, string> reference in hadithVM.References)
        {
            <div class="hadith__reference">
                <div class="hadith__reference-name">
                    @reference.Key
                </div>
                <div class="hadith__reference-value">
                    @reference.Value
                </div>
            </div>
        }
    </div>
}
