@model QuranX.Models.Quran_VerseHadiths

@{
    int hadithCount = Model.Hadiths.Count();
    string plural = hadithCount == 1 ? "" : "s";
    ViewBag.Title = string.Format("Hadith{0} for Quran verse {1}.{2} - {3} {4}", plural, Model.Chapter.Index, Model.Verse, Model.Chapter.EnglishName, Model.Chapter.ArabicName);
}
@section head_meta {
	<meta property="og:description" content="@ViewBag.Title" />
}

<hgroup>
    <h1>@Model.Chapter.Index - @Model.Chapter.EnglishName</h1>
    <h2>@Model.Hadiths.Count() Hadith@(plural) related to verse 
        @Html.ActionLink(Model.Chapter.Index.ToString() + "." + Model.Verse.ToString(), "Verse", "Quran")

    </h2>
</hgroup>

@foreach (var entry in Model.Hadiths)
{
    @Html.Partial("HadithView", entry);
}

@section topsidebar
{
	@Html.Partial("ChapterVerseQuickJump")
}

