@model QuranX.Web.Views.Shared.HadithViewModel
@using QuranX.Web.Views.Shared

<div class="hadith">
	<div class="hadith__references">
		<div class="hadith__reference">
			<div class="hadith__reference-name">
				Collection
			</div>
			<div class="hadith__reference-value">
				@Model.CollectionName
			</div>
		</div>
		@foreach (HadithReferenceViewModel reference in @Model.References)
		{
			<div class="hadith__reference">
				<div class="hadith__reference-name">
					@reference.IndexName
				</div>
				<div class="hadith__reference-value">
					<a href="/Hadith/@reference.CollectionCode/@reference.IndexCode/@reference.ToUrlPath()">
						@reference.ToString()
					</a>
				</div>
			</div>
		}
	</div>
	<div class="hadith__text">
		@foreach (string text in @Model.Hadith.EnglishText)
		{
			<p>@text</p>
		}
	</div>
	<div class="hadith__text arabic">
		@foreach (string text in @Model.Hadith.ArabicText)
		{
			<p>@text</p>
		}
	</div>
</div>