@model QuranX.Models.Quran_Verses

@{
	string verseText = @Model.Chapter.Index + ":" + @Model.Verse;
	if (Model.Verse != Model.LastVerse)
		verseText += "-" + @Model.LastVerse;
	ViewBag.Title = string.Format("Quran {0} - {1} {2}", verseText, Model.Chapter.EnglishName, Model.Chapter.ArabicName);
	ViewBag.IsArticle = true;
}

@section head_meta {
	<meta property="og:description" content="@ViewBag.Title" />
}

<hgroup itemprop="name">
	<h1>The Quran</h1>
	<h2>
		@verseText
		@Model.Chapter.EnglishName - 
        @Model.Chapter.ArabicName
	</h2>
</hgroup>
@Html.Partial("VersesView", Model.Verses)

@section topsidebar
{
	@Html.Partial("ChapterVerseQuickJump")
}

@section sidebar
{
	@Html.Partial("TranslationOptions")
}
