@model IEnumerable<QuranX.DocumentModel.ChapterAndVerse>

@{
    bool allTranslations = false;
    if (ViewBag.AllTranslations != null && ViewBag.AllTranslations)
    {
        allTranslations = ViewBag.AllTranslations;
    }
}

<div id="VersesContainer">
    @foreach (var item in Model)
    {
        int tafsirsCount = QuranX.SharedData.Document.TafsirDocument.GetCommentaries(item.Chapter.Index, item.Verse.Index).Count();
        int hadithsCount = @QuranX.SharedData.Document.HadithDocument.GetHadithsForVerse(item.Chapter.Index, item.Verse.Index).Count();
        int wordCount = QuranX.SharedData.Document.CorpusDocument[item.Chapter.Index, item.Verse.Index].Words.Sum(x => x.Parts.Count());

        <article class="verse">
            <a name="@item.Chapter.Index.@item.Verse.Index"></a>
            <span class="verseReference" itemprop="articleSection">@item.Chapter.Index.@item.Verse.Index</span>
            <a href="@Url.Action(actionName: "Verse", controllerName: "Analysis", routeValues: new { Chapter = item.Chapter.Index, Verse = item.Verse.Index })">
                <dl class="countAndLabel">
                    <dd>
                        @wordCount
                    </dd>
                    <dt>Roots</dt>
                </dl>
            </a>
            @if (tafsirsCount > 0)
            {
                <a href="@Url.Action(actionName: "Verse", controllerName: "TafsirsByVerse", routeValues: new { Chapter = item.Chapter.Index, Verse = item.Verse.Index })">
                    <dl class="countAndLabel">
                        <dd>
                            @tafsirsCount
                        </dd>
                        <dt>Tafsirs</dt>
                    </dl>
                </a>
            }
            @if (hadithsCount > 0)
            {
                <a href="@Url.Action(actionName: "Verse", controllerName: "HadithsByVerse", routeValues: new { Chapter = item.Chapter.Index, Verse = item.Verse.Index })">
                    <dl class="countAndLabel">
                        <dd>
                            @hadithsCount
                        </dd>
                        <dt>Hadiths</dt>
                    </dl>
                </a>
            }
            <dl class="translations" itemprop="articleBody">
                @foreach (var translation in item.Verse.Translations)
                {
                    if (allTranslations || ViewBag.Translations.Contains(translation.TranslatorCode))
                    {
                    <dt>@translation.TranslatorName</dt>
                    <dd class="highlightable">@translation.Text</dd>
                    }
                }
                @if (allTranslations || ViewBag.Translations.Contains("Arabic"))
                {
                    <dt>Arabic</dt>
                    <dd class="arabicText highlightable">@item.Verse.ArabicText</dd>
                }
            </dl>
        </article>
    }
</div>
