@model IEnumerable<QuranX.Models.Search_Result>

@{
    ViewBag.Title = "Search results";
}

@section head_meta {
	<meta name="description" content="Search Quran, Hadiths, and Tafsirs" />
	<meta property="og:description" content="Search Quran, Hadiths, and Tafsirs" />
}

@if (ViewBag.IsSearch)
{
    <h2>Top @Model.Count() search results - @ViewBag.TotalResults total results</h2>
}
else
{
    <h2>Search</h2>
}

<div id="searchBox">
    @using (Html.BeginRouteForm(routeName: "Search", method: FormMethod.Get))
    {
		<span>See help for advanced searching options</span>
        @Html.TextBox("q", "", new { type = "search", results = 10, placeholder = "Search..." })
        @Html.DropDownList(name: "context")<br />
        <input type="submit" value="Search" />
    }
</div>

@if (ViewBag.TotalResults > 0)
{
    <table id="searchResults" class="highlightable">
        @{
    int index = 1;
    foreach (var result in Model)
    {
            <tr>
                <td>@index @{ index++; }</td>
                <td>
                    <a href="@result.Url">
                        <strong>@result.Type</strong> @result.Caption @result.ID
                    </a>
                </td>
            </tr>
            <tr>
                <td />
                <td>
                    <ul>
                        @foreach (string snippet in result.Snippets)
                        {
                            <li>@Html.Highlight(snippet)</li>
                        }
                    </ul>
                </td>
            </tr>
    }
        }
    </table>
}
