@model QuranX.Models.Quran_VerseTafsirs

@{
    ViewBag.Title = string.Format("Tafsirs etc / Quran verse {0}.{1} - {2} {3}", Model.Chapter.Index, Model.Verse, Model.Chapter.EnglishName, Model.Chapter.ArabicName);
}

@section head_meta {
	<meta property="og:description" content="@ViewBag.Title" />
}

<hgroup>
    <h1>@Model.Chapter.Index - @Model.Chapter.EnglishName</h1>
    <h2>
        @Model.TafsirComments.Count() Tafsir(s) related to verse 
        @Html.ActionLink(Model.Chapter.Index.ToString() + "." + Model.Verse.ToString(), "Verse", "Quran")
    </h2>
</hgroup>

@foreach (var entry in Model.TafsirComments)
{
    <article>
        <dl class="hadith">
            <dt>@entry.Item1.Mufassir</dt>
            <dd>
                @foreach (var line in entry.Item2.Text)
                {
                    <p class="highlightable">@line</p>
                }
            </dd>
        </dl>
    </article>
}
@section topsidebar
{
	@Html.Partial("ChapterVerseQuickJump")
}
