@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    var request = httpContextAccessor.HttpContext.Request;
    string currentUrl = $"{request.Scheme}://{request.Host}{request.Path}{request.QueryString}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/site.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-680HEFB03Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
 
      gtag('config', 'G-680HEFB03Z');
    </script>
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/jquery.highlight.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/quranx.verse-counts.js"></script>
    <meta property="og:image" content="https://QuranX.com/Images/QuranXSocialIcon.png" />
    <meta property="og:title" content="QuranX.com The most complete Quran / Hadith / Tafsir collection available!" />
    <meta property="og:url" content="https://QuranX.com@(currentUrl)" />
    <meta property="og:type" content="website" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="donate-container" href="https://www.patreon.com/QuranX">
        <a href="https://www.patreon.com/QuranX" class="quranx navbar-brand">
            <img class="subhan-Allah" src="/Images/SubhanAllah.png" />
            <div class="donate-text">
                Donate
            </div>
        </a>
    </div>
    <div class="quranx navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="quranx navbar-header">
                <button type="button" class="quranx navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    MENU
                </button>
                <a href="/1.1" class="quranx navbar-brand">Quran</a>
            </div>
            <div class="quranx navbar-collapse collapse">
                <ul class="quranx nav navbar-nav">
                    <li>@Html.RouteLink("Commentaries", "Commentators")</li>
                    <li>@Html.RouteLink("Hadiths", "HadithCollections")</li>
                    <li>@Html.RouteLink("Search", "SiteSearch")</li>
                    <li>@Html.RouteLink("Dictionaries", "Dictionaries", new { Root = (string)null })</li>
                    <li>@Html.RouteLink("Help", "Help")</li>
                    <li>@Html.RouteLink("About", "About")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content pt">
        @RenderBody()
    </div>
    <script src="/Scripts/quranx.autohighlight.js"></script>
    <script src="/Scripts/quranx.verse-translations.js"></script>
    <script src="/Scripts/quranx.hash-url-fixer.js"></script>
</body>
</html>
