@{
    int nextChapter = ViewBag.Chapter;
    int nextVerse = ViewBag.Verse;
    QuranX.QuranVerseHelper.NextVerse(chapter: ref nextChapter, verse: ref nextVerse);

    int prevChapter = ViewBag.Chapter;
    int prevVerse = ViewBag.Verse;
    QuranX.QuranVerseHelper.PreviousVerse(chapter: ref prevChapter, verse: ref prevVerse);
}
<aside id="verseNavigator">
    <ul class="sideNavigation">
        <li>
            <a href="@Url.Action("Verse", new { Chapter = prevChapter, Verse = prevVerse })" >
                <img src="@Url.Content("~/Content/Images/NavigatePrevious.png")" alt="Previous verse" />
            </a>
        </li>
        <li>
            <a href="@Url.Action("Verse", new { Chapter = nextChapter, Verse = nextVerse })">
                <img src="@Url.Content("~/Content/Images/NavigateNext.png")" alt="Next verse" />
            </a>
        </li>
        @if (ViewBag.CanShowVerseRange ?? false)
        {
            <li>
                <a href="@Url.Action("Verse", new { Chapter = ViewBag.Chapter, Verse = 1, LastVerse = Model.Chapter.VerseCount })">
                    <img src="@Url.Content("~/Content/Images/NavigateAll.png")" alt="View all verses" />
                </a>
            </li>
        }
    </ul>
</aside>
