@using QuranX.Shared.Models
@using QuranX.Web.Models
@model IEnumerable<ChapterAndVerseReferenceSelection>

@{
	ViewBag.Title = "The Noble Qur'an";
}

<h1>@ViewBag.Title</h1>
<ol class="quran__chapter-list">
	@foreach (ChapterAndVerseReferenceSelection item in Model)
	{
		<li>
			@{ 
				string chapterId = "Chapter" + item.Chapter.ChapterNumber;
			}
			<a href="#@chapterId" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="@chapterId">
				@item.Chapter.EnglishName - @item.Chapter.ArabicName
			</a>
			
			<ul id="@chapterId" class="quran__verse-list collapse">
				@foreach (VerseReference verseReference in item.VerseReferences)
				{
					<li>
						<a href="@(item.Chapter.ChapterNumber).@(verseReference.Verse)">
							@verseReference.Verse
						</a>
					</li>
				}
			</ul>
		</li>
	}
</ol>

